
<!DOCTYPE html>
<html lang="en" ng-app="paworclaw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Paw or Claw | Tinder for Dogs!</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="javascripts/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/styles.css" rel="stylesheet">
</head>

<body id="homepage" ng-controller="controller as ctrl" style="background-image: url('{{currPet.imageurl}}')">
<div class="web-container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt="Paw or Claw" height="50"></a>
            </div>
            <div class="navbar-collapse collapse" >
                <!--<a href="signin">-->
                    <div class="sign-up" ng-click="showAddPet = true; $event.stopPropagation()">
                        <p>+ Add your pet!</p>
                    </div>

                <!--</a>-->
                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div><!--/.navbar-collapse -->

        </div>
    </div>


    <div class="addpet-container" ng-show="showAddPet" ng-click="$event.stopPropagation()">
        <form name="form" novalidate class="simple-form">
            <span class="addpet-intro">Enter your pet's information</span><br/>
            Pet's name: <input class="name-input" type="text" ng-model="form.name" placeholder="Sammy" required/><br />
            About: <input class="about-input" type="text" ng-model="form.bio" placeholder="The best dog there can be!" required/><br />
            Hashtags: <input class="hashtags-input" type="text" ng-model="form.hashtags" placeholder="#dog #meozer #cute" required/><br />
            Image url: <input class="image-input" type="url" ng-model="form.imageurl" placeholder="http://puppy.com/1d123.jpg" required http-prefix/><br />
            <span class="accepts">*Accepts .jpg, .png, .gif </span><br/>
            <span class="require-url" ng-show="form.$error.url">Invalid url, make sure to include 'http://'</span><br/>
            <br/>
            <button class="addpet-btn btn" ng-click="ctrl.add(form)" ng-disabled="form.$invalid">Add!</button>
        </form>
    </div>

    <!-- Pet info -->
    <div id="petinfo-container">
        <div class="petinfo">
            <p class="pinfo-name"> {{currPet.name}} </p>
            <p class="rating above"> {{ctrl.getPercantage(currPet)}}% </p>
            <p> {{currPet.bio}} </p>
            <!--<p> {{ctrl.getHashtagString(currPet)}}</p>-->
        </div>
    </div>


    <div class="jumbotron">
        <div class="pawclawbuttons">
            <div id="pawbutton">
                <button type="submit" id="paw" ng-click="ctrl.upvote()"><img src="images/paw.png" alt="PAW"/></button>
            </div>

            <div id="clawbutton">
                <button type="submit" id="claw" ng-click="ctrl.downvote()"><img src="images/claw.png" alt="PAW"/></button>
            </div>
            <div id="welcome" ng-show="justOpened">
                <h1>Welcome to Paw or Claw!</h1>
                <p>Click PAW to upvote or CLAW to downvote</p>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src ="bower_components/angular/angular.js"></script>
<script src ="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="javascripts/dummydata.js"></script>
<script src ="javascripts/paworclaw.js"></script>
</body>
</html>
