/*@charset "UTF-8";*/
/* CSS Document */
body {
    position: relative;
    overflow: hidden;
}

.pet-images {
    min-width: 100%;
    min-height: 100%;
    /* Center it like `background-position: center` */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: tcranslate(-50%, -50%);
    z-index: -1;
}

.pet-images img {
    min-height: 100%;
    min-width: 100%;
}

.pet-images {
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
    /*display: block !important;*/
}

.pet-images.ng-hide-add{
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
    opacity: 1;
}

.pet-images.ng-hide-add-active {
    opacity: 0;
}

.pet-images.ng-hide-remove{
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
    opacity: 1;
    left: 150%;
}

.pet-images.ng-hide-remove-active {
    /*opacity: 1;*/
    left: 50%;

}

/*.pet-images.ng-hide {*/
    /*left:50%;*/
/*}*/

.check-element {
    padding:10px;
    border:1px solid black;
    background:white;
}



.singlenav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #F06429;
    border-radius: 0 0 15px 15px !important;
    opacity: 0.8;

}

.pawclawbuttons button {
    opacity: .9;
}

.pawclawbuttons button:hover {
    opacity: 1;
}


.pawclawbuttons button:focus {
    outline: 0px;
}

#welcome {
    opacity:1;
    -webkit-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
    display: inline-block !important;
}

#welcome.ng-hide-add.ng-hide-add-active,
#welcome.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all ease-in-out 0.75s;
    transition:all ease-in-out 0.75s;
    display: inline-block !important;
}

#welcome.ng-hide {
    opacity:0;
    display: inline-block !important;

}

body {
    -webkit-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
}

.addpet-container {
    background: none repeat scroll 0 0 #6CCB9F;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.439;
    margin-left: 2%;
    margin-top: 3px;
    padding: 12px 14px;
    white-space: nowrap;
    width: 325px;
    padding-left: 25px;
    opacity: .9;
    position: absolute;
    right: 5%;
    z-index: 9999;
}

.addpet-container input {
    color: black;
    margin-bottom: 5px;
    width: 200px;
}

.name-input {
    margin-left: 0px;
}

.about-input {
    margin-left: 38px;
}

.hashtags-input {
    margin-left: 16px;
}

.image-input {
    margin-left: 13px;
}

.accepts {
    margin-left: 80px;
}

.addpet-btn {
    margin-left: 110px;
    background-color: #F06429;
    opacity: .9;
}

.addpet-intro {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    display: block;
}

.require-url {
    margin-left: 18px;
    color: crimson;
}

.required {
    margin-top: -12px;
    position: relative;
    display: block;
    margin-bottom: -18px;
}