/*@charset "UTF-8";*/
/* CSS Document */
body {
    /*background-image: url("../images/pet.jpg");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(240, 100, 41, 0.8);
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.42857;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pet-images {
    min-width: 100% !important;
    min-height: 100%  !important;
    /* Center it like `background-position: center` */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: tcranslate(-50%, -50%);
    z-index: -1;
    width: inherit !important;
}

.pet-images img {
    min-height: 100%;
    min-width: 100%;
}

/*.pet-images {*/
    /*-webkit-transition:all ease-in-out 0.25s;*/
    /*transition:all linear 0.5s;*/
    /*display: block !important;*/
/*}*/

/*.pet-images.ng-hide-add{*/
    /*-webkit-transition:all ease-in-out 0.25s;*/
    /*transition:all ease-in .5s;*/
    /*opacity: 1;*/
    /*opacity: 1;*/
    /*left: 50%;*/
    /*z-index: 0;*/
/*}*/

/*.pet-images.ng-hide-add-active {*/
    /*opacity: 0;*/
    /*opacity: 1;*/
    /*left: 150%;*/
/*}*/

/*.pet-images.ng-hide-remove{*/
    /*-webkit-transition:all ease-in-out 0.25s;*/
    /*transition:all ease-in-out 0.25s;*/
    /*opacity: 0;*/
/*}*/

/*.pet-images.ng-hide-remove-active {*/
    /*opacity: 1;*/
/*}*/


.pet-images {
    -webkit-transition:all ease-in-out 0.25s;
    transition:all linear 0.25s;
    /*display: block !important;*/
}

.pet-images.ng-hide-add{
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
    opacity: 1;
}

.pet-images.ng-hide-add-active {
    opacity: 0;
}

.pet-images.ng-hide-remove{
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
    opacity: 0;
    /*left: 150%;*/
}

.pet-images.ng-hide-remove-active {
    opacity: 1;
}

.pet-images.ng-hide {
    opacity: 0;
}


#petinfo-container {
    z-index: 99 !important;
    position: relative;
}


.check-element {
    padding:10px;
    border:1px solid black;
    background:white;
}



.singlenav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #F06429;
    border-radius: 0 0 15px 15px !important;
    opacity: 0.8;

}

.pawclawbuttons button {
    opacity: .9;
}

.pawclawbuttons button:hover {
    opacity: 1;
}


.pawclawbuttons button:focus {
    outline: 0px;
}

#welcome {
    opacity:1;
    -webkit-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
    display: inline-block !important;
}

#welcome.ng-hide-add.ng-hide-add-active,
#welcome.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all ease-in-out 0.75s;
    transition:all ease-in-out 0.75s;
    display: inline-block !important;
}

#welcome.ng-hide {
    opacity:0;
    display: inline-block !important;

}

body {
    -webkit-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
}

.addpet-container {
    background: none repeat scroll 0 0 #6CCB9F;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.439;
    margin-left: 2%;
    margin-top: 3px;
    padding: 12px 14px;
    white-space: nowrap;
    width: 325px;
    padding-left: 25px;
    opacity: .9;
    position: absolute;
    right: 5%;
    z-index: 9999;
}

.addpet-container input {
    color: black;
    margin-bottom: 5px;
    width: 200px;
}

.name-input {
    margin-left: 0px;
}

.about-input {
    margin-left: 38px;
}

.hashtags-input {
    margin-left: 16px;
}

.image-input {
    margin-left: 13px;
}

.accepts {
    margin-left: 27px;
}

.addpet-btn {
    margin-left: 110px;
    background-color: #F06429;
    opacity: .9;
}

.addpet-intro {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    display: block;
}

.require-url {
    margin-left: 18px;
    color: crimson;
}

.required {
    margin-top: -12px;
    position: relative;
    display: block;
    margin-bottom: -18px;
}

#petinfo-container .rating {
    color: #008000;
}

.under50 {
    color: red !important;
}

#paw {
    background-image: url('../images/paw.png');
    background-size: contain;
    background-repeat: no-repeat;

}

#paw:hover {
    background-image: url('../images/paw-clicked.png');
}

#paw:active {
    background-image: url('../images/paw-active.png');
}

#claw {
    background-image: url('../images/claw.png');
    background-size: contain;
    background-repeat: no-repeat;

}

#claw:hover {
    background-image: url('../images/claw-clicked.png');
}

#claw:active {
    background-image: url('../images/claw-active.png');
}


.pawclawbuttons img {
    visibility: hidden;
}
